/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.12.2017, 11:14:05
    Author     : smithY
*/

body {
    background-color: lightpink;
}

.header{width:80%;
}

.header img{ width: 20%;
}

.header h1{
    display:inline;
}
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-image: url('res/searchicon.png');
    background-size: 35px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-top: 40px;
}

input[type=text]:focus {
    width: 100%;
}

.header h1{
    background: url('res/rainbowtest.png') -80px -80px;
    color: red;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 60px;
    font-family: arial, helvetica;
    width: 600px;
    margin: 50px auto;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}