@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/*
==================
Index und Allgemain
==================
*/

.header{
  overflow: auto;
}

.header-thumb{
  float: left;
}
.header-thumb img{
  display: block;
}

.header-content{
  margin-left: 12%;
}

.in{
  width: 1337px;
  margin: 0 auto;
}

.in h:inputText{
  width: 1337px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-image: url('res/searchicon.png');
  background-size: 35px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  /*-webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;*/
  /*margin-top: 40px;*/
  margin: 0 auto;
}

input[type=text] {
    width: 1337px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-image: url('res/searchicon.png');
    background-size: 35px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    /*-webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;*/
    /*margin-top: 40px;*/
    margin: 0 auto;
}

/*input[type=text]:focus {
    width: 100%;
}*/

.header h1{
    background: url('res/rainbowtest.png') -80px -80px;
    color: red;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 60px;
    font-family: arial, helvetica;
    text-align: left;
    margin-top: 10%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    font: 14px/1 'Open Sans', sans-serif;
    height: 100vh;
    background-color: lightpink;
}

input[type="radio"]{
    visibility:hidden;
}

h1 {
    padding: 50px 0;
    font-weight: 400;
    text-align: center;
}

p {
    margin: 0 0 20px;
    line-height: 1.5;
}

main {
    width: 1337px;
    margin: 0 auto;
    background: #fff;
}

section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}


label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

label[for*='1']:before {
    content: '\f02d';
}

label[for*='2']:before {
    content: '\f008';
}

label[for*='3']:before {
    content: '\f1ea';
}

label:hover {
    color: #888;
    cursor: pointer;
}

tabs.input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
    display: block;
}

@media screen and (max-width: 650px) {
    label {
        font-size: 0;
    }
    label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    label {
        padding: 15px;
    }
}

/*
==================
Detailansicht
==================
*/

.content {
  margin-top: 2%;
  margin-left: 8%;
  width: 82%;
  height: 100%;
  background: #ffcbd3;
  resize: both;
  overflow: auto;
}

.content h1{
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}

.picture{
  float: right;
}
.picture img {
  display: block;
  height: 620px;
	width: 450px;
}

.sum table{
    width: 400px;
    border: 1px solid #ddd;
    background-color: white;
}

.img-border{
  height: 620px;
  width: 900px;
  margin: 0 auto;
}

.status{
  width: 900px;
  margin: 0 auto;
}

.status table{
  width: 900px;
  border: 1px solid #ddd;
  background-color: white;
}

.content a{
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.content a:hover{
  background-color: #ddd;
  color: black;
}

.previous{
  margin-top: 1%;
  margin-left: 1%;
  background-color: white;
  color: black;
}
